<div class="modal fade bs-modal-sm ListingDetailModal" style="z-index: 9999;" id="ListingDetailModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-width" >
            <div class="modal-content" style="padding: 20px 5px 15px 5px;display: flex;align-items: center;justify-content: center;background: #f5f7fb;">
                    <div class="inner-pages sin-1 homepage-4 hd-white" style="width: 100%;height: 90vh;overflow: auto;">
                        <section class="single-proper blog details" style="padding: 43px 0px 10px 16px  !important;">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-8 col-md-12 ">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <section class="headings-2 pt-0">
                                                    <div class="listing-title-bar">
                                                        <h3 id="listingName"></h3>
                                                        <div >
                                                            <h4 id="listingPrice"></h4>
                                                        </div>
                                                        <div class="mt-0" style="width: 95%; display: flex; justify-content: space-between;" id ="address_favorit">
                                                            
                                                        </div>
                                                    </div>
                                                </section>
                                                <!-- main slider carousel items -->
                                                <div id="listingDetailsSlider" class="carousel listing-details-sliders slide mb-30">
                                                    <h5 class="mb-4">Gallery</h5>
                                                    <div class="carousel-inner" id ="listingImg">
                                                    
                                                    </div>
                                                    <!-- main slider carousel nav controls -->
                                                    <ul class="carousel-indicators smail-listing list-inline" id ="listingULImg">
                                                        
                                                    </ul>
                                                    <!-- main slider carousel items -->
                                                </div>
                                                
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <aside class="col-lg-4 col-md-12 car">
                                        <div class="single widget">
                                            <div class="sidebar">
                                                <div class="widget-boxed mt-33 mt-5">
                                                    <div class="widget-boxed-body">
                                                        <div class="sidebar-widget author-widget2">
                                                            <div class="alert-box success" id="addRequest_success">Submit Ok !!!</div>
                                                            <div class="alert-box failure" id="addRequest_failure">fail!!!</div>
                                                            <div class="agent-contact-form-sidebar">
                                                                <h4>Request Inquiry</h4>
                                                                <form name="contact_form">
                                                                    <input type="text" id="inquiry_fname" name="full_name" placeholder="Full Name" required />
                                                                    <input type="number" id="inquiry_pnumber" name="phone_number" placeholder="Phone Number" required />
                                                                    <input type="email" id="inquiry_emailid" name="email_address" placeholder="Email Address" required />
                                                                    <textarea placeholder="Message" id="inquiry_message" name="inquiry_message" required></textarea>
                                                                    <input type="hidden" id="property_type_id"/>
                                                                    <input type="button" id="sendMessageListingsDetailModal" name="sendmessage" class="multiple-send-message" value="Submit Request" />
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </aside>
                                </div>
                            </div>
                        </section>
                    </div>
            </div>
        </div>
    </div>